{{- $essay := .Page.File.BaseFileName -}}

<div class="backmatter tabbed">

  <ul>
    {{ range .Site.Data.translations.languages }}
    <li><a href="#lang-{{ .lang_code }}">{{ .display }}</a>
    {{ end }}
  </ul>

  {{ range .Site.Data.translations.languages }}

  {{ $language := .lang_code }}

  {{ range where $.Site.Data.translations.texts "essay" $essay }}
  {{ range where .translations "lang_code" $language }}

  {{ $keynoteHead := "" }}
  {{ $abstractHead := "" }}
  {{ range where $.Site.Data.translations.languages "lang_code" .lang_code }}
  {{ $keynoteHead = .keynote }}
  {{ $abstractHead = .abstract }}
  {{ end }}

  <section id="lang-{{ .lang_code }}" lang="{{ .lang_code }}" >
    <p class="essay-title">{{ .title | markdownify }}</p>
    <h2>{{ $keynoteHead }}</h2>
    <p>{{ .keynote | markdownify }}</p>
    <h2>{{ $abstractHead }}</h2>
    <p>{{ .abstract | markdownify }}</p>
  </section>
  {{ end }}
  {{ end }}

  {{ end }}

</div>