{{- $page := "" -}}
{{ if eq .Page.Params.about true }}
  {{ $page = "about" }}
{{ else if eq .Page.File.Dir "/" }}
  {{ $page = .Page.File.BaseFileName }}
{{ else }}
  {{ $page = printf "%s%s" .Page.File.Dir .Page.File.BaseFileName }}
{{ end }}

{{- $fullPDF := "" -}}
{{- range where .Site.Data.publication.resource_link "name" "PDF" }}
  {{- $fullPDF = .url -}}
{{- end -}}

{{- if ne .Site.Params.pdf true -}}
<div class="backmatter tabbed">

  <ul>
    {{ range .Site.Data.translations.languages }}
    <li><a href="#lang-{{ .lang_code }}" class="tab-link">{{ .display }}</a>
    {{ end }}
  </ul>

  {{ range .Site.Data.translations.languages }}

  {{ $language := .lang_code }}

  {{ range where $.Site.Data.translations.texts "page" $page }}
  {{ range where .translations "lang_code" $language }}

  {{ $keynoteHead := "" }}
  {{ $abstractHead := "" }}
  {{ $downloadLinkLabel := "" }}
  {{ range where $.Site.Data.translations.languages "lang_code" .lang_code }}
    {{ $keynoteHead = .keynote }}
    {{ $abstractHead = .abstract }}
    {{ $downloadLinkLabel = .chapter_abstracts }}
  {{ end }}

  {{ if eq $.Page.Params.about true }}
    <section id="lang-{{ .lang_code }}" lang="{{ .lang_code }}" >
      {{- $link := printf "%s-%s.%s" "/downloads/pages/cultural-heritage-mass-atrocities--contents" $language "pdf" -}}
      <span class="download-link is-screen-only remove-from-epub"><a href="{{ $link }}">{{ $downloadLinkLabel }} {{ partial "icon.html" (dict "type" "download" "description" "download") -}}</a>{{ if eq .lang_code "en"}} | <a href="{{ $fullPDF }}">Full Text {{ partial "icon.html" (dict "type" "download" "description" "download") -}}</a>{{ end }}</span>
      <div class="description">{{ .description | markdownify }}</div>
      <div class="editors">{{ .editors | markdownify }}</div>
      <hr />
      <div class="book-info">{{ .book_info | markdownify }}</div>
    </section>
  {{ else }}
    <section id="lang-{{ .lang_code }}" lang="{{ .lang_code }}" >
      <p class="essay-title">{{ .title | markdownify }}<br /><span class="essay-contributor">{{ .contributor | markdownify }}</span></p>
      <p class="keynote-text">{{ .keynote | markdownify }}</p>
      <h2>{{ $abstractHead }}</h2>
      <p>{{ .abstract | markdownify }}</p>
    </section>
  {{ end }}
  {{ end }}
  {{ end }}

  {{ end }}

</div>
{{- end -}}